.pu-newmessage {

    .pu-new-message-input-wrap {
        position: relative;

        .pu-textarea {
            border-bottom-left-radius: em(0);
            border-bottom-right-radius: em(0);
        }
        
        .markdown-support {
            display: inline-block;
            position: absolute;
            bottom: em(15);
            right: em(15);
        }

        > textarea {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}